*{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: "Alice", serif;
    color: #d0a933;
    
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-bottom: 5px solid #d0a933;
    height: 40%;
   
}

.navbar-brand img{
  width: 20rem;
  height: 18rem;
}
.navbar-toggler{
 width: 80px;
}

.navbar .nav-link {
    color: #d0a933;
    font-weight: bold;
    
}

 .navbar .nav-link:hover {
    color: #91843c; /* Cor ao passar o mouse */
  }

  .navbar .nav-link:focus {
    color: gold; /* Garante que a cor dourada seja mantida ao focar no link */
  }

  .navbar-toggler {
    border: 2px solid #d0a933!important; /* Borda dourada */
    border-radius: 5px; /* Ajusta o arredondamento da borda */
  }
  
 /* Evita que a borda ou fundo fique preto quando focado ou ativo */
.navbar-toggler:focus, .navbar-toggler:active {
  outline: none !important; /* Remove o contorno padrão */
  background-color: transparent !important; /* Evita fundo preto */
  box-shadow: none !important; /* Remove qualquer sombra padrão */
}

 .inicio{
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #2e2b2b;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    text-align: center;
    
  }

  .inicio-text{
    font-size: 4.5vh;
    width: 45vw;
    padding-right: 2rem; 
  }

 .btn-faleconosco{
    font-size: 3vh;
    width: 20vw;
    height: 80px;
    background: none;
    border-color: #d0a933;
    border-radius: 5px;
    margin:5rem;
    
  }
  .btn-faleconosco:hover{
   background-color: #504b4b;
  }

  .inicio img{
    max-width: min-content;
    width: 45vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 5px 12px #d0a933;
    margin-bottom: 3rem;
   }

   .sobre-mim{
    display: flex;
    width: 100%;
    height: auto;
    margin: 5rem 0 5rem;
    padding: 4rem;
   }

   .sobre-mim-text{
     width: 30rem;
     padding: 2rem;
     font-size: 1.2rem;
   }

   .sobre-mim-h2{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .sobre-mim-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2e2b2b;
   }

   .sobre-mim-span, strong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2e2b2b;
    padding-top: 1rem;
   }

   .img-sobre-mim{
    max-width: 100%;
    width: 45vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 5px 12px #d0a933;
    margin-bottom: 13rem;
   }

   @media(max-width:800px) {

    .inicio{
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0.5rem;

    }

    .inicio-text{
      width: 100%;
      font-size: 1.4rem;
      margin-left: 4rem;
        
   
    }

    .btn-faleconosco{
      font-size: 1.2rem;
      width: 150px;
      height: 100px;
      margin: 4rem 2rem;
      
      
    }

    .inicio img{
      width: 500px;
      height: 200px;
      margin-bottom: 0.7rem;

     }

     .sobre-mim{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      margin: 5rem 0 5rem;
      padding: 0.1rem;
     }

     .img-sobre-mim{
      width: 300px;
      height: 200px;
      margin-bottom: 0.7rem;
      margin-left: 4rem;
      
     }


    
   }
